<h2>Contacts</h2>
<input type="search">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Organisation</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{$id}}" ng-repeat="contact in contacts">
            <td><a href="#/contact/"> {{contact.firstname}} {{contact.lastname}}</a></td>
            <td>{{contact.phone.landline}}</td>
            <td><a href="#/organisation/{{contact.organisation}}">Org Name{{contact.organisation.name}}</a></td>
            <td>{{contact.email}}</td>
        </tr>
    </tbody>
    <button ng-csv="testDump" filename="test.csv">Yolo</button>
    <button ng-click="testExport()" >Hey</button>
</table>

