<h2>Contacts</h2>
<div><a href="#/organisation/add">Add</a></div>
<button type="button" ng-csv="contactsDump" filename="sdp_contacts.csv" csv-header="['First Name', 'Last Name', 'Job Title', 'Organisation', 'Email Address', 'Primary Phone', 'Other Phone']" >Export as CSV</button>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Organisation</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{$id}}" ng-repeat="contact in contacts">
            <td><a href="#/contact/"> {{contact.firstname}} {{contact.lastname}}</a></td>
            <td>{{contact.phone.landline}}</td>
            <td><a href="#/organisation/{{contact.organisation.id}}">{{contact.organisation.name}}</a></td>
            <td>{{contact.email}}</td>
        </tr>
    </tbody>
</table>

