<h2>Contacts</h2>
<input type="search">
<table>
    <thead>
        <tr>
            <th><a href="" ng-click="reorderTable('firstname')">Name</a></th>
            <th><a href="" ng-click="reorderTable('phone.landline')">Phone Number</a></th>
            <th><a href="" ng-click="reorderTable('organisation.name')">Organisation</a></th>
            <th><a href="" ng-click="reorderTable('email')">Email</a></th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{$id}}" ng-repeat="contact in contacts | orderBy:predicate:reverse">
            <td><a href="#/contact/{{contact.id}}"> {{contact.firstname}} {{contact.lastname}}</a></td>
            <td>{{contact.phone.landline}}</td>
            <td><a href="#/organisation/{{contact.organisation.id}}">{{contact.organisation.name}}</a></td>
            <td>{{contact.email}}</td>
        </tr>
    </tbody>
    <button type="button" ng-csv="contactsDump" filename="sdp_contacts.csv" csv-header="['First Name', 'Last Name', 'Job Title', 'Organisation', 'Email Address', 'Primary Phone', 'Other Phone']" >Export as CSV</button>
</table>

