<h2>Members</h2>
<div><a href="#/organisation/add">add</a></div>
<input type="search">
<table>
    <thead>
        <tr>
            <th><a href="" ng-click="reorderTable('name')">Name</a></th>
            <th><a href="" ng-click="reorderTable('address.city')">City</a></th>
            <th><a href="" ng-click="reorderTable('state')">Status</a></th>
            <th><a href="" ng-click="reorderTable('principal.firstname')">Contact</a></th>
            <th><a href="" ng-click="reorderTable('principal.email')">Email</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="org in stuffedOrgs | orderBy:predicate:reverse">
            <td><a href="#/organisation/{{org.id}}/"/>{{org.name}}</td>
            <td>{{org.address.city}}</td>
            <td>{{org.state}}</td>
            <td><a href="#/contact/{{org.principal.id}}">{{org.principal.firstname}} {{org.principal.lastname}}</a></td>
            <td>{{org.principal.email}}</td>
            <td>{{org.payment['2012'].amount}}</td> <!-- TODO: This needs to be automagically assigned as the latest year.-->
            <td>{{org.payment['2012'].paid}}</td> <!-- TODO: This needs to be automagically assigned as the latest year.-->
            <td><button ng-toggle="">Paid</button></td> <!-- TODO: Hook this up. It will toggle paid between true/false and force an Update. --> 
        </tr>
    </tbody>

</table>

