<h2>{{organisation.name}}</h2>
<ul>
    <div>
      <div><label>Name</label><input ng-model="organisation.name"></div>
      <div><label>Address</label><input ng-model="organisation.address.address1"><input ng-model="organisation.address.address2"><input ng-model="organisation.address.suburb"><input ng-model="organisation.address.city"><input ng-model="organisation.address.postcode"></div>
      <div><label>Street Address</label><input ng-model="organisation.address.streetaddress"></div>
      <div><label>Date Joined</label><input ng-model="organisation.datejoined"></div>
      <div><label>State</label><input ng-model="organisation.state"></div>
    </div>

    <div id="principle_contact">
    </div>
    <div id="payment_history">
        <table>
            <thead>
                <tr>
                    <th>Finical Year</th>
                    <th>Amount Billed</th>
                    <th>Amount Paid</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(name, payment) in payments">
                    <td>{{name}}</td>
                    <td><input ng-model="payment.amountbilled"></td>
                    <td><input ng-model="payment.amountpaid"></td>
                    <td>{{payment.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</ul>
