<h2>Members</h2>
<div><a href="#/organisation/add">Add</a></div>
<button type="button" ng-csv="massiveDump" filename="sdp_members.csv" csv-header="['Organisation', 'Date Joined', 'Principal Contact', 'Primary Email', 'Primary Phone', 'Mailing Address', 'City', 'Postcode', 'Street Address']">Export as CSV</button>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
            <th>Contact</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="org in stuffedOrgs">
            <td><a href="#/organisation/{{org.id}}/"/>{{org.name}}</td>
            <td>{{org.address.city}}</td>
            <td>{{org.state}}</td>
            <td><a href="#/contact/{{org.principal.id}}">{{org.principal.firstname}} {{org.principal.lastname}}</a></td>
            <td>{{org.principal.email}}</td>
            <!--<td>{{org.payment[thisYear].amount}}</td> TODO-->
        </tr>
    </tbody>

</table>

